:root {
  --primary-color: #ffffff;
  --secondary-color: #f5f4fa;
  --third-color: #2f303a;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #000000;
  --accent: #2196f3;
  --accent-hover: #188ce8;
  --link-color: #afb1b8;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-align: center;

  color: var(--secondary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------- Buttons -------------------------------- */
.button {
  padding: 10px 32px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-color);
  background-color: var(--accent);

  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--accent-hover);
}

.button-filter {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus,
.button-current {
  color: var(--primary-color);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

  cursor: pointer;
}

/* ------------------------------------- Header --------------------------------- */
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header__box {
  display: flex;
  align-items: center;
}

.header__link {
  display: inline-flex;
  align-items: center;

  color: currentColor;
  fill: currentColor;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:not(:last-child) {
  margin-right: 30px;
}

.header__link:hover,
.header__link:focus {
  color: var(--accent);
}

.header__icon {
  margin-right: 10px;
}

.nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.nav__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.nav__list {
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  position: relative;
  display: block;
  color: var(--secondary-text-color);
  padding: 32px 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current,
.nav__link:hover,
.nav__link:focus {
  color: var(--accent);
}

.nav__link::after {
  content: '';

  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;

  background-color: var(--accent);
  border-radius: 2px;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover::after,
.nav__link:focus::after,
.nav__link--current::after {
  transform: scaleX(1);
}

/* ------------------------------------- Logo ----------------------------------- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent);
}

.logo--header {
  color: var(--third-text-color);
}

.logo--footer {
  color: var(--primary-color);
}

/* ---------------------------------- Hero ---------------------------------------- */
.hero {
  background-color: var(--third-color);
  background-image: linear-gradient(to left, rgb(47 48 58 / 0.4), rgb(47 48 58 / 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
/* ---------------------------------- Features ------------------------------------- */
.features {
  display: flex;
}

.features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__thumb {
  display: inline-flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-color);
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: var(--secondary-text-color);
}
/* ---------------------------------- Work ----------------------------------------- */

.work {
  padding-top: 0;
}

.work__list {
  display: flex;
}

.work__link {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__description {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 27px 15px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* ---------------------------------- Team ----------------------------------------- */
.team {
  background-color: var(--secondary-color);
}

.team__list {
  display: flex;
}

.team__item {
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__item:hover {
  transform: scale(1.01);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 0.12), 0px 4px 4px rgb(0 0 0 / 0.6), 1px 4px 6px rgb(0 0 0 / 0.16);
}

.team__box {
  padding: 30px 32px;
  text-align: center;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}

.social-links {
  display: flex;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  fill: var(--link-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link--footer {
  fill: var(--primary-color);
  background-color: rgb(255 255 255 / 0.1);
}

.social-links__link:hover,
.social-links__link:focus {
  fill: var(--primary-color);
  background-color: var(--accent);
}

/* Clients */

.clients {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  fill: var(--link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent);
  border-color: var(--accent);
}

/* --------------------------------- Footer --------------------------------------- */
.footer {
  background-color: var(--third-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-right: 70px;
}

.address {
  margin-top: 20px;
  font-style: normal;
  color: var(--primary-color);
}

.address__link {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: rgba(33, 150, 243, 0.6);
}

.newsletter-form {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.singup-form__input {
  width: 358px;
  padding: 15px 16px;

  font-size: 16px;
  letter-spacing: 0.03em;

  color: var(--primary-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.singup-form__input::placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.singup-form__input:hover,
.singup-form__input:focus,
.singup-form__input:not(:placeholder-shown):required {
  cursor: pointer;
  border-color: var(--accent-hover);
}

.newsletter-form__button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.call-to-action {
  margin-right: auto;
}

.action-title {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-color);
}
/* ------------------------------------------ Portfolio --------------------------------------------------------------- */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card-set__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.card {
  display: block;

  color: inherit;
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 0.12), 0px 4px 4px rgb(0 0 0 / 0.6), 1px 4px 6px rgb(0 0 0 / 0.16);
}

.card:hover .card__overlay,
.card:focus .card__overlay {
  transform: translateY(0);
  opacity: 1;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(101%);
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(33, 150, 243, 0.9);
}

.card__description {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-color);
}

.card__box {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
}

.card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.card__text {
  font-size: 16px;
  line-height: 1.88;
}

/* Modal section */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;

  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

/* Modal section */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 6px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--primary-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button-close:hover,
.button-close:focus {
  fill: var(--accent);
}

.modal__svg {
  display: block;
}

.modal__title {
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
  cursor: pointer;
}

.form-field > input {
  width: 100%;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-field > span {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field:focus-within > span,
.form-field > input:not(:placeholder-shown) + span {
  transform: translate(-30px, -38px);
}

.form-field > svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > input {
  border-color: var(--accent);
}

.form-field:focus-within {
  fill: var(--accent);
}
