:root {
  --primary-color: #ffffff;
  --secondary-color: #f5f4fa;
  --third-color: #2f303a;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #000000;
  --accent: #2196f3;
  --accent-hover: #188ce8;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 36px;
  line-height: 1.17;

  text-align: center;

  color: var(--secondary-text-color);
}

/* ------------------------------------- Buttons -------------------------------- */
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: var(--primary-color);
  background-color: var(--accent);
}

.button:hover,
.button:focus {
  background-color: var(--accent-hover);
  cursor: pointer;
}

.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  background-color: var(--secondary-color);
}

.button-filter:hover,
.button-filter:focus,
.button-current {
  background-color: var(--accent);
  color: var(--primary-color);
  cursor: pointer;
}
/* ------------------------------------- Header --------------------------------- */
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__link {
  color: var(--secondary-text-color);
}

.header__link--current,
.header__link:hover,
.header__link:focus {
  color: var(--accent);
}

.header > a {
  color: var(--primary-text-color);
}

.header > a:hover,
.header > a:focus {
  color: var(--accent);
}

/* ------------------------------------- Logo ----------------------------------- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent);
}

.logo--header {
  color: var(--third-text-color);
}

.logo--footer {
  color: var(--primary-color);
}

/* ---------------------------------- Hero ---------------------------------------- */
.hero {
  background-color: var(--third-color);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
/* ---------------------------------- Features ------------------------------------- */
.features {
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: var(--secondary-text-color);
}

/* ---------------------------------- Team ----------------------------------------- */
.team {
  background-color: var(--secondary-color);
}

.team__card {
  background-color: var(--primary-color);
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team__text {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  letter-spacing: 0.03em;
}
/* --------------------------------- Footer --------------------------------------- */
footer {
  background-color: var(--third-color);
}

address {
  font-style: normal;
  color: var(--primary-color);
}

address a {
  color: rgba(255, 255, 255, 0.6);
}

address > a:hover,
address > a:focus {
  color: rgba(33, 150, 243, 0.6);
}
/* ------------------------------------------ Portfolio --------------------------------------------------------------- */

.card__title {
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.card__text {
  font-size: 16px;
  line-height: 1.88;
}
