@import './utils/variables';
@import './utils/mixins';

@import './base/global-style';
@import './base/visually-hidden';

@import './components/container';
@import './components/section';
@import './components/header';
@import './components/navigation';
@import './components/logo';
@import './components/hero';
@import './components/buttons';
@import './components/features';
@import './components/work';
@import './components/team';
@import './components/social-links';
@import './components/clients';
@import './components/footer';
@import './components/backdrop';
@import './components/modal';
@import './components/portfolio';
@import './components/mobile-menu';