.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;

  @media (max-width: 767px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media (min-width: 768px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }

  @media (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  fill: $link-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  fill: $accent;
  border-color: $accent;
  }
}