.features {
  @media (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__item {
  &:not(:last-child) {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }

  @media (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.features__thumb {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-color;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: $secondary-text-color;

  @media (max-width: 767px) {
    text-align: center;
  }
}