.footer {
  padding-block: 60px;
  background-color: $third-color;

  @media (max-width: 1199px) {
    text-align: center;
  }
}

.footer-box {
  @media (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-tablet-wrapper {
  @media (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-around;
    margin-bottom: 60px;
  }
  
}

.footer-contacts {
  @media (max-width: 767px) {
    margin-bottom: 60px;
  }
  // margin-right: 70px;
}

.address {
  font-style: normal;
  color: $primary-color;
}

.address__link {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: rgba(33, 150, 243, 0.6);
}

.newsletter {
  @media (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    margin-inline: auto;
  }
}

.newsletter-form {
  @media (min-width: 1200px) {
    display: inline-flex;
    align-items: center;
    gap: 12px;
  }
}

.newsletter-form > label {
  display: block;
  @media (max-width: 1199px) {
    margin-bottom: 20px;
  }
  @media (min-width: 1200px) {
    width: 358px;
  }
}

.singup-form__input {
  width: 100%;
  padding: 15px 16px;

  font-size: 16px;
  letter-spacing: 0.03em;

  color: $primary-color;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.singup-form__input::placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.singup-form__input:hover,
.singup-form__input:focus,
.singup-form__input:not(:placeholder-shown):required {
  cursor: pointer;
  border-color: $accent-hover;
}

.newsletter-form__button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.call-to-action {
  @media (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media (min-width: 1200px) {
    margin-left: 70px;
  }
}

.action-title {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-color;
}