.header {
  @include text(500, $lh: 1.14, $ls: 0.02em);
  border-bottom: 1px solid #ececec;
}

.header__box {
  @media (min-widt: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__link {
  display: inline-flex;
  align-items: center;

  color: currentColor;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus {
    color: $accent;
  }
  @media (max-width: 767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }

  @media (min-width: 1200px) {
    padding-block: 32px;
  }

  // .menu-container &:not(:last-child){
  //   margin-bottom: 32px;
  // }
}

.header__link:not(:last-child) {
  margin-right: 30px;
}

.header__icon {
  margin-right: 10px;
}