.header {
  @include text(500, $lh: 1.14, $ls: 0.02em);
  border-bottom: 1px solid #ececec;
}

.header__box {
  display: flex;
  align-items: center;
}

.header__link {
  display: inline-flex;
  align-items: center;
  
  color: currentColor;
  fill: currentColor;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus {
    color: $accent;
  }
}

.header__link:not(:last-child) {
  margin-right: 30px;
}

.header__icon {
  margin-right: 10px;
}