.hero {
  background-color: $third-color;
  background-image: linear-gradient(to left, rgb(47 48 58 / 0.4), rgb(47 48 58 / 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}