.hero {
  padding-block: 118px;
  text-align: center;
  height: 400px;

  background-color: $third-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to left, rgb(47 48 58 / 0.4), rgb(47 48 58 / 0.4)), url(../images/hero-mobile-480.jpeg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to left, rgb(47 48 58 / 0.4), rgb(47 48 58 / 0.4)), url(../images/hero-mobile-960.jpeg);
    }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(to left, rgb(47 48 58 / 0.4), rgb(47 48 58 / 0.4)), url(../images/hero-mobile-1440.jpeg);
    }

  @media (min-width: 768px) {
    @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
      background-image: linear-gradient(to left, rgb(47 48 58 / 0.4), rgb(47 48 58 / 0.4)), url(../images/hero-tablet-768.jpeg);
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to left, rgb(47 48 58 / 0.4), rgb(47 48 58 / 0.4)), url(../images/hero-tablet-1536.jpeg);
    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(to left, rgb(47 48 58 / 0.4), rgb(47 48 58 / 0.4)), url(../images/hero-tablet-2304.jpeg);
    }
  }

  @media (min-width: 1200px) {
    height: 600px;
    padding-block: 200px;

    @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
      background-image: linear-gradient(to left, rgb(47 48 58 / 0.4), rgb(47 48 58 / 0.4)), url(../images/hero-desktop-1600.jpeg);
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to left, rgb(47 48 58 / 0.4), rgb(47 48 58 / 0.4)), url(../images/hero-desktop-3200.jpeg);
    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(to left, rgb(47 48 58 / 0.4), rgb(47 48 58 / 0.4)), url(../images/hero-desktop-4800.jpeg);
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  @media (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}