.logo {
  display: inline-block;
  font: $logo-font;
  color: $accent;

  @media (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  .footer-contacts > & {
    margin-bottom: 20px;
  }

  &--dark {
    color: $third-text-color;
  }

  &--light {
    color: $primary-color;
  }
}

.logo__nav {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}