.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  .menu-container>& {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 48px 40px;

  background-color: $primary-color;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}