.nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__item+.nav__item {
  margin-left: 50px;
}

.nav__link {
  position: relative;
  display: block;
  color: $secondary-text-color;
  padding: 32px 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current,
.nav__link:hover,
.nav__link:focus {
  color: $accent;
}

.nav__link::after {
  content: '';

  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;

  background-color: $accent;
  border-radius: 2px;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover::after,
.nav__link:focus::after,
.nav__link--current::after {
  transform: scaleX(1);
}