.nav {
  // display: flex;
  // margin-right: auto;
  // align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  @media (min-width: 768px) {
    display: flex;
  }
}

.nav__item+.nav__item {
  @media (max-width: 767px) {
    margin-top: 32px;
  }
  @media (min-width: 768px) {
    margin-left: 50px;
  }
}

.nav__link {
  position: relative;
  display: block;
  color: $secondary-text-color;
  padding: 32px 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .menu-container &{
    display: inline-block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    padding: 0;
  }
}

.nav__link--current,
.nav__link:hover,
.nav__link:focus {
  color: $accent;
}

.nav__link::after {
  @media (min-widt: 768px) {
  content: '';

  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;

  background-color: $accent;
  border-radius: 2px;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav__link:hover::after,
.nav__link:focus::after,
.nav__link--current::after {
  transform: scaleX(1);
}