.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card-set__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.card {
  display: block;

  color: inherit;
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 0.12), 0px 4px 4px rgb(0 0 0 / 0.6), 1px 4px 6px rgb(0 0 0 / 0.16);
}

.card:hover .card__overlay,
.card:focus .card__overlay {
  transform: translateY(0);
  opacity: 1;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(101%);
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(33, 150, 243, 0.9);
}

.card__description {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: $primary-color;
}

.card__box {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
}

.card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: $secondary-text-color;
}

.card__text {
  font-size: 16px;
  line-height: 1.88;
}