.section {
  padding-block: 60px;

  @media (min-width: 1200px) {
    padding-block: 94px;
  }

  &__title {
    @include text(700, 28px, 1.18, 0.03em);
    text-align: center;
    color: $secondary-text-color;
    margin-bottom: 30px;

    @media (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 50px;
    }
  }
}