.social-links {
  display: flex;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  fill: $link-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link--footer {
  fill: $primary-color;
  background-color: rgb(255 255 255 / 0.1);
}

.social-links__link:hover,
.social-links__link:focus {
  fill: $primary-color;
  background-color: $accent;
}