.team {
  background-color: $secondary-color;
}

// .team__list {
//   display: flex;
// }

.team__item {
  background-color: $primary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .team__item:not(:last-child) {
//   margin-right: 30px;
// }

.team__item:hover {
  transform: scale(1.01);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 0.12), 0px 4px 4px rgb(0 0 0 / 0.6), 1px 4px 6px rgb(0 0 0 / 0.16);
}

.team__box {
  padding: 30px 32px;
  text-align: center;
}

.team__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $secondary-text-color;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}