.work {
  padding-top: 0;

  @media (max-width: 1199px) {
    display: none;
  }
}

.work__list {
  display: flex;
  margin: -15px;
}

.work__item {
  margin: 15px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.work__link {
  position: relative;
  display: block;
}

.work__description {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 27px 15px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: $primary-color;
  background-color: rgba(47, 48, 58, 0.8);
}