.work {
  padding-top: 0;
}

.work__list {
  display: flex;
}

.work__link {
  position: relative;
  display: block;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__description {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 27px 15px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: $primary-color;
  background-color: rgba(47, 48, 58, 0.8);
}