body {
  font: $page-font;
  letter-spacing: .03em;

  color: $primary-text-color;
  background-color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}